page-home {

    #credits{
       
        position: absolute;
        bottom:10px;
        left:0px;
        right: 0px;
        text-align:center;
    }

   #login-form{
       align-content: center;
        position: absolute;
		top: 50%;
		left: 50%;
   }


  
    }



